@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/********************************PROFILE******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}   

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 20px;
  cursor: pointer;
  background: var(--twitter-background);
  border: none;
  color: var(--twitter-color);
  padding: 10px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.sidebarOption .material-symbols-outlined, .fa-twitter{
  padding: 20px;
}

.sidebarOption h2{
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover{
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;

}

.sidebarOption.active {
  color: var(--twitter-color)
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  justify-content: space-between;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  position: sticky;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 125%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpeg") no-repeat 50% 20% / cover;
  min-height: calc(100px + 8vw);
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translatex(-50%);
}

.header__wrapper .cols__container .left__col .img__container img {
  width: 200px; /* Increased width */
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 28px; 
  margin-bottom: 5px;
}

.header__wrapper .cols__container .left__col p {
  font-size: 1.2rem;
  color: #818181;
  margin: 0;
}

.header__wrapper .cols__container .left__col .about {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Added alignment */
  position: relative;
  margin: 35px 0;
}

.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 11px; /* Increased font size */
}

.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 17px;
}

.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}

.header__wrapper .cols__container .content p {
  font-size: 1.2rem; /* Increase font size */
  font-weight: 500; /* Increase font weight */
  line-height: 1.5em; /* Reduce line height */
}

.header__wrapper .cols__container .content ul {
  gap: 20px; /* Adjust gap for social media icons */
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.header__wrapper .cols__container .content ul li {
  display: flex;
}

.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}

.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-around;
  flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
  font-size: 1.2rem;
  margin-left: 40px;
}

.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 1.3rem; 
}

/* Updated CSS for the back button */
/* .back__button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.back__button a {
  text-decoration: none;
  background-color: #4882ee;
  width: 30px; 
  height: 30px;
  border-radius: 20%; 
  color: #fff; 
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
}

.back__button a i {
  margin-right: 0; 
} */

/********************************WIDGETS******************************/
.widgets {
  flex: 0.4;
  margin-left: 15%;
  min-width: max-content;
  justify-content: space-between;
  width: 100%;
  margin-right: 100px;
}

.widgetsinput {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.widgetsinput input {
  border: none;
  background-color: var(--twitter-background);
  outline: none;
}

.widgetswidgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: azure;
  border-radius: 20px;
  width: 100%;
}

.widgetswidgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

.trending__container{
  border: 2px solid whitesmoke;
  width: 100%;
  height: 400px;
  padding: 15px;
  border-radius: 20px;
  margin-top: 5%;
  box-shadow: var(--box-shadow);
}

.trending__container > h2 {
  padding-bottom: 10px;
}

.trending__container > ul {
  list-style-type: none;
  font-size: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.trending__container > ul > p {
  margin-top: -20px;
  font-size: 75%;
  color: gray;
  margin-bottom: 20px;
}

.trending__container > ul > li {
  margin-bottom: 20px;
}


.follow__container{
  border: 2px solid whitesmoke;
  width: 100%;
  height: fit-content;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10%;
  box-shadow: var(--box-shadow);
  flex-direction: column;
}

.follow__container h2 {
  font-weight: 800;
  margin-bottom: 2%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  margin: 20px 0;
}

.profile-container {
  margin-left: 1rem;
}

.profile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.followuser {
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.follow__container > .profile > .followuser > p {
  margin: 0;
}

.followButton {
  background-color: gray;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
}


/********************************POST/FEED******************************/
.post__avatar img {
  border-radius: 50%;
  height: 40px;
  position: relative;
  left: -20px;
  margin-bottom: -60px;
  
}

.post {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 5px;
  margin-bottom: 10px;
  align-self: flex-end;
  margin-left: -232.1%;
}

.post__body img{
  width: 950px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 19px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-top: -55px;
}

.post__headerDescription {
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 20px;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 25px;
}

.post__body {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  flex: 1;
  padding: 10px;
  max-width: 600px;
  margin-left: 35%;
  margin-bottom: -30px;  
}

.post__avatar {
  padding: 20px;
}

.header__wrapper .cols__container .right__col .photos {
  display: flex;
  justify-content: flex-end;
}

.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
  width: 100%;
  border-radius: 30px;
  margin-left: 500px;
}

/********************************RESPONSIVE******************************/

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width:1300px;
    margin: 0 auto;
    width: 120%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 45px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }

  .sidebar{
    display: block;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }

  .sidebar{
    display: block;
  }
}

@media (max-width: 767px) {
  
 
  .header__wrapper .cols__container .left__col .img__container {
    position: relative;
    top: 0;
    left: 0;
    transform: none; 
    margin: 0 auto; 
    max-width: 200px;
  }

  .header__wrapper .cols__container .left__col .img__container img {
    width: 100%; 
    height: auto;
    margin-top: -100px;
  }

  .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--twitter-background);
    z-index: 1000;
    display: block;
    margin-top: -10px;
  }

  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .widgets {
    display: none;
  }

  .img__container {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Add this line */
  }

  header {
    width: 150%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpeg") no-repeat 50% 20% / cover;
    min-height: calc(80px + 8vw); /* Adjust the value according to your design */
  }

 
  .post__body {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    flex: 1;
    padding: 10px;
    max-width: 600px;
    margin-left: 0; /* Adjusted for mobile view */
    margin-bottom: -30px;
  }

  .back__button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001; /* Ensure it's above the sidebar toggle */
  }

  .back__button a {
    text-decoration: none;
    background-color: #4882ee;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

@media screen and (max-width: 1200px) {
  body {
      flex-direction: column;
  }

  .sidebar {
      display: block;
      width: 100%;
      border-right: none;
      min-width: auto;
  }

  .sidebarOption {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
  }

  .feed {
      width: 100%;
      border-right: none;
  }

  .widgets {
      width: 100%;
      min-width: auto;
  }

  .widgetswidgetContainer {
      width: 100%;
      padding: 10px;
  }
}

