@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/********************************NEWSFEED******************************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .chikast {
    height: 50px;
    width: 50px;
}
  .news_container {
    width: 100%;
    margin-left: 190px;
  }
  
  .blog-section {
    width: 85%;
    margin: 20px auto;
    
  }
  
  .blog-section .title {
    width: 60%;
    text-align: center;
    margin: auto; 
  }
  
  .blog-section .title h2 {
    font-size: 30px;
    color: #50b7f5;
    text-transform: uppercase;
    margin-top: 50px;

  }
 
  .cards {
    display: grid;
    grid-gap: 50px;
    margin: 25px auto;
  }
  
  .cards .card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .image-section img {
    width: 100%;
    border-radius: 10%;
    height: auto; 
    text-align: center;
    align-self: center;
    transition: transform 0.3s ease-out;
  }
  
  .image-section img:hover {
    transform: translateY(-10px);
}

  
  .content {
    padding: 15px 20px;
    width: 100%;
    margin: 0 auto; 
  }
  
  .content h4 {
    font-size: 30px;
    color: #222;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .content p {
    color: #7e7e7e;
    font-size: 17px;
  }
  
  .content a {
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #50b7f5;
    padding: 8px 15px;
    border-radius: 30px;
  }
  
  .card .posted-date {
    padding: 6px 15px;
    width: 100%;
    margin: 0 auto;
    text-decoration: black;
  }
  
/********************************SIDE-BAR******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}   

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 20px;
  cursor: pointer;
  background: var(--twitter-background);
  border: none;
  color: var(--twitter-color);
  padding: 10px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.sidebarOption .material-symbols-outlined, .fa-twitter{
  padding: 20px;
}

.sidebarOption h2{
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover{
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;

}

.sidebarOption.active {
  color: var(--twitter-color)
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  justify-content: space-between;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  position: fixed; 
  height: 100vh; 
  overflow-y: auto; 
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

/********************************WIDGETS******************************/
.widgets {
  flex: 0.4;
  margin-left: 15%;
  min-width: max-content;
  justify-content: space-between;
  width: 100%;
  margin-right: 100px;

}

.widgetsinput {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.widgetsinput input {
  border: none;
  background-color: var(--twitter-background);
  outline: none;
}

.widgetswidgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: azure;
  border-radius: 20px;
  width: 100%;
}

.widgetswidgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

.trending__container{
  border: 2px solid whitesmoke;
  width: 100%;
  height: 400px;
  padding: 15px;
  border-radius: 20px;
  margin-top: 5%;
  box-shadow: var(--box-shadow);
}

.trending__container > h2 {
  padding-bottom: 10px;
}

.trending__container > ul {
  list-style-type: none;
  font-size: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.trending__container > ul > p {
  margin-top: -20px;
  font-size: 75%;
  color: gray;
  margin-bottom: 20px;
}

.trending__container > ul > li {
  margin-bottom: 20px;
}


.follow__container{
  border: 2px solid whitesmoke;
  width: 100%;
  height: fit-content;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10%;
  box-shadow: var(--box-shadow);
  flex-direction: column;
}

.follow__container h2 {
  font-weight: 800;
  margin-bottom: 2%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  margin: 20px 0;
}

.profile-container {
  margin-left: 1rem;
}

.profile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.followuser {
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.follow__container > .profile > .followuser > p {
  margin: 0;
}

.followButton {
  background-color: gray;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
}

.widgets__widgetContainer {
    margin-top: 30px;
}


/********************************RESPONSIVE******************************/

@media (min-width: 868px) {
   
    .news_container {
        width: 100%;
        margin-left: 190px;
      }
    
    .blog-section {
        width: 85%;
        margin: 20px auto;
        margin-left:170px;
    }
    
    .sidebar{
    display: block;
  }
}

@media (min-width: 1017px) {
   
    .news_container {
        width: 100%;
        margin-left: 190px;
      }
    
    .sidebar{
    display: block;
    }


}
@media (max-width: 767px) {
    .news_container {
        width: 100%;
        margin-left: 0;
    }

    .blog-section {
        width: 85%;
        margin: 20px auto;
    }

    .image-section {
        width: 100%; /* Adjusted to full width */
        display: flex;
        justify-content: center;
    }

    .image-section img {
        max-width: 100%; 
        height: auto;
    }

    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--twitter-background);
        z-index: 1000;
        display: block;
        margin-top: -10px;
    }

    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
    }

    .widgets {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
  body {
      flex-direction: column;
  }

  .sidebar {
      display: block;
      width: 100%;
      border-right: none;
      min-width: auto;
  }

  .sidebarOption {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
  }

  .widgets {
      width: 100%;
      min-width: auto;
  }

  .widgetswidgetContainer {
      width: 100%;
      padding: 10px;
  }
}

