@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}   

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Poppins", sans-serif;
}

.chikast {
    height: 50px;
    width: 50px;
}

.sidebar a {
    display: none;
    color: inherit;
    text-decoration: none;
}

.sidebar-toggle {
    display: none; /*change to none/block depending on if you want to display */
    font-size: 20px;
    cursor: pointer;
    background: var(--twitter-background);
    border: none;
    color: var(--twitter-color);
    padding: 10px;
    top: 10px;
    left: 10px;
    z-index: 1000;
    height: 100vh;
    position: sticky;
    top: 0;
}


.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.sidebarOption .material-symbols-outlined, .fa-twitter{
    padding: 20px;
}

.sidebarOption h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color)
}

.sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

body {
    display: flex;
    height: 100vh;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    justify-content: space-around;
}

.sidebar {
    width: 100%;
    border-right: none;
    min-width: none;

    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}

/* feed */

.feed {
    width: 200%;
    flex: 0.5;
    border-right: 2px dotted var(--twitter-background);
    border-left: 2px dotted var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 20px;
    
    
}

.feed__header{
    position: relative;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;

}

.feed__header h2{
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar{
    display: none;
}


/* tweet box */


.tweetbox__input img{
    border-radius: 50%;
    height: 40px;
}

.tweetbox{
    border-radius: 2px solid black;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--twitter-background);
    padding-right: 10px;
    width: 600px;    
    margin-bottom: 30px;
}

.tweetBox_form{

    display: flex;
    flex-direction: column;
}

.tweetbox__input{
    display: flex;
    padding: 20px;
}

.tweetbox__input {
    display: flex;
    align-items: center;
}

.tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: 85%;
    cursor: pointer;
}

.tweetBox__tweetButton:disabled {
    background-color: transparent;
    color: black;
    cursor: default;
}

#counter {
    color: var(--twitter-color);
    font-size: 1rem;
    margin-right: 10px;
}



/* post */
.post__avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    width: 600px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;

}

.post:hover {
    transform: translateY(-5px);
  }

.post__body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.heart {
    border: none;
    background-color: white;
    cursor: pointer;
}

.heart:hover {
    color: red;
}

.heart i {
    font-size: 24px;
}

.heart-filled i {
    color: red;
}


.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post_headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    flex: 1;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.post__avatar {
    padding: 20px;
}

.post__date {
    font-size: 12px;
    color: #999;
    margin-left: auto;
  }

/* new layout post layout */
/* 
  
  
  .post__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .post__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post__headerText {
    display: flex;
    align-items: center;
  }
  
  .post__headerText h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .post__headerSpecial span {
    color: #666;
    margin-left: 5px;
  }
  
  
  
  .post__headerDescription p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  
  .post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .post__footer span {
    margin-right: 8px;
    color: #666;
  }
  
  .heart {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff5e63;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .heart:hover {
    color: #ff1e1e;
  }
  
  .material-symbols-outlined {
    margin-left: 5px;
    color: #999;
    font-size: 18px;
  }
  
  .post__user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .post__user-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .post__user-info span {
    color: #666;
    margin-left: 5px;
    font-size: 14px;
  } */
  
/* widgets */
.widgets {
    flex: 0.4;
    margin-left: 5%;
    min-width: fit-content;
    justify-content: space-between;
    width: 100%;
}


.widgetsinput input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}

.widgetswidgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: azure;
    border-radius: 20px;
    width: 100%;
}

.widgetswidgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}

.peopletxt {
    margin-top: 20px;
    margin-bottom: -20px;
}

.trending__container{
    border: 2px solid whitesmoke;
    width: 120%;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10%;
    box-shadow: var(--box-shadow);
}

.trending__container > h2 {
    padding-bottom: 10px;
}

.trending__container > ul {
    list-style-type: none;
    font-size: 120%;
    padding: 10px;
}

.trending__container > ul > p {
    margin-top: -20px;
    font-size: 75%;
    color: gray;
    margin-bottom: 20px;
}

.trending__container > ul > li {
    margin-bottom: 20px;
}


.follow__container{
    border: 2px solid whitesmoke;
    width: 120%;
    height: 250px;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10%;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    overflow-y: auto;
}

.follow__container h2 {
    font-weight: 800;
    margin-bottom: 2%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    margin: 20px 0;
}

.profile-container {
    margin-left: 1rem;
}

.profile > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.followuser {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.follow__container > .profile > .followuser > p {
    margin: 0;
}

.followButton {
    background-color: rgb(77, 136, 239);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        display: block;
        width: 100%;
        border-right: none;
        min-width: auto;
    }

    .sidebarOption {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
    }

    .feed {
        width: 120%;
        flex: 0.5;
        border-right: 1px solid var(--twitter-background);
        min-width: fit-content;
        overflow-y: scroll;
    }

    .widgets {
        width: 100%;
        min-width: auto;
    }

    .widgetswidgetContainer {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 1031px) {
    .sidebar {
        display: none;
    }

    .sidebar-toggle {
        display: block;
        font-size: 20px;
        cursor: pointer;
        background: var(--twitter-background);
        border: none;
        color: var(--twitter-color);
        padding: 10px;
        top: 10px;
        left: 10px;
        z-index: 1000;
        height:auto;
    }

    .feed {
        flex: 1;
        border-right: none;
    }

    .widgets {
        display: none;
    }
    
    .tweetbox__input input {
        width: 100%;
    }

    .post__body img {
        width: 100%;
    }

    .widgetswidgetContainer {
        width: 100%;
        padding: 10px;
    }

    .tweetbox{
        max-width: 600px;
    }

    .feed__header{
        width: 600px;
    }
}