
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.profile-card {
    width: 455px;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #FBED76;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-image {
    width: 75px;
    height: 77px;
    left: 65px;
    top: 65px;
    position: absolute;
}

.section-title {
    width: 258px;
    height: 21px;
    left: 142px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.username {
    width: 146px;
    left: 616px;
    top: 180px;
    position: absolute;
    color: black;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.bio {
    width: 122px;
    left: 621px;
    top: 218px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.post-count {
    width: 258px;
    height: 21px;
    left: 619px;
    top: 315px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 600;
    word-wrap: break-word;
}

.post-container {
    width: 635px;
    height: 635px;
    left: 616px;
    top: 212px;
    position: absolute;
    background: #DEF6F2;
    border-radius: 10px;
}

.post-username {
    width: 258px;
    height: 21px;
    left: 698px;
    top: 413px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.post-image {
    width: 74px;
    height: 81px;
    left: 620px;
    top: 393px;
    position: absolute;
}

.post-content {
    width: 258px;
    height: 21px;
    left: 698px;
    top: 463px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.post-likes {
    width: 86px;
    height: 15px;
    left: 927px;
    top: 545px;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.post-like-icon {
    width: 27px;
    height: 25px;
    left: 596px;
    top: 541px;
    position: absolute;
}

.post-timestamp {
    width: 91px;
    height: 21px;
    left: 727px;
    top: 547px;
    position: absolute;
    color: black;
    font-size: 10px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.follower-count {
    width: 5px;
    left: 1000px;
    top: 156px;
    position: absolute;
    color: black;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 600;
    word-wrap: break-word;
}

.follower-title {
    width: 98px;
    left: 961px;
    top: 180px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.following-count {
    width: 5px;
    left: 1172px;
    top: 156px;
    position: absolute;
    color: black;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 600;
    word-wrap: break-word;
}

.following-title {
    width: 98px;
    left: 1135px;
    top: 180px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.menu-item {
    width: 258px;
    left: 100px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.home {
    width: 258px;
    left: 100px;
    top: 268px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 700;
    word-wrap: break-word;
}

.profile {
    top: 375px;
}

.likes {
    top: 482px;
}

.following {
    top: 696px;
}

.trends {
    top: 589px;
}

.posting {
    top: 800px;
}

.logout {
    top: 900px;
    width: 258px;
    left: 100px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

/* Button Styling */
#button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1DA1F2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: poHelvetica;
}

#button:hover {
    background-color: #0F81D6;
}

#button:active {
    background-color: #0A5C8C;
}

.website-image {
    width: auto;
    height: auto;
    left: 63px;
    top: 20px;
    position: absolute;
}

.mingle{
    width: 202px;
    height: 202px;
}

.timeline-title {
    height: 21px;
    left: 596px;
    top: 150px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 600;
    word-wrap: break-word;
}

li {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}
