.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.yellow-box {
    width: 455px;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #FBED76;
}

.menu-item {
    width: 258px;
    left: 100px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.home {
    width: 258px;
    left: 100px;
    top: 268px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 700;
    word-wrap: break-word;
}

.profile {
    top: 375px;
}

.likes {
    top: 482px;
}

.following {
    top: 696px;
}

.trends {
    top: 589px;
}

.posting {
    top: 800px;
}

.logout {
    top: 900px;
    width: 258px;
    left: 100px;
    position: absolute;
    color: #1DA1F2;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

/* Button Styling */
#button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1DA1F2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#button:hover {
    background-color: #0F81D6;
}

#button:active {
    background-color: #0A5C8C;
}

.post {
    width: 92px;
    height: 92px;
    left: 1231px;
    top: 851px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 550px;
}

.timeline-title {
    width: 258px;
    height: 21px;
    left: 596px;
    top: 150px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 600;
    word-wrap: break-word;
}

.website-image {
    width: auto;
    height: auto;
    left: 63px;
    top: 20px;
    position: absolute;
}

.mingle{
    width: 202px;
    height: 202px;
}

.post-container {
    width: 635px;
    height: 193px;
    left: 616px;
    top: 385px;
    position: absolute;
    background: #DEF6F2;
    border-radius: 10px;
}

.post-username {
    width: 258px;
    height: 21px;
    left: 698px;
    top: 413px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.post-likes {
    width: 86px;
    height: 15px;
    left: 927px;
    top: 545px;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}

.post-content {
    width: 258px;
    height: 21px;
    left: 698px;
    top: 463px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}