body {
    background-color: #1a1a1a;
    color: #fff;
}

header {
    background: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.border-divider {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 1px;
    background-color: #ddd;
    transition: width 1s ease-in-out;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
}

.nav-link:hover {
    color: #45a049;
}

.feed-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}

.tweet {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.tweet img {
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-content {
    flex-grow: 1;
}

h3 {
    margin: 0;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #00acee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #007bb5;
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #00acee;
}

.social-links a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 150px;
    flex-direction: column;
    z-index: 500;
}

.left-section {
    width: 100%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 500;
}

.left-section h2 {
    color: #4CAF50;
    font-size: 4em;
    margin-bottom: 10px;
}

.left-section p {
    color: #ddd;
    font-size: 1.2em;
}

.social-links {
    margin-top: 20px;
    text-align: left;
}

.social-links a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
    display: inline-block;
}

.social-links a:hover {
    color: #45a049;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #444;
    color: #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.form-container button[type="submit"]:hover {
    background-color: #45a049;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.ghost {
    background-color: transparent;
    border: none;
    color: #4CAF50;
    font-size: 1em;
    cursor: pointer;
}

.ghost:hover {
    color: #45a049;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .left-section {
        width: 50%;
        text-align: left;
        padding: 10px;
    }

    .form-container {
        margin-top: 0;
        margin-left: 20px;
    }
}

@media screen and (max-width: 400px) {
    .left-section h2 {
        font-size: 2em;
    }

    .left-section p {
        font-size: 1em;
    }

    .form-container {
        max-width: 100%;
    }
}

#message{
    width: calc(100% - .5px);
    padding: 10px;
    box-sizing: border-box;
    height: 250px; 
    vertical-align: top;
    color: #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
}





/* bgAnimation start */

.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}


.colorBox {
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover {
    background: rgb(0, 255, 0);
    transition-duration: 0s;
}

.backgroundAmim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(0, 255, 0);
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}
@keyframes animBack {
    0%{
        top: -120px;
    }
    100%{
        top: 120%;
    }
    
}

.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat();

}




/* bgAnimation end */