* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    --twitter-color: #45a049;
    --twitter-background: #000;
    --twitter-backgroundTweet: #202c3c;
    background-color: #000;
    color: #45a049;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    
    flex: 0.2;
    min-width: 250px;
    margin-top: 15%;
    padding-left: 10px;
    padding-right: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    
}

.sidebar footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.sidebar i {
    margin-right: 10px;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms ease-out, color 200ms ease-out;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-right: 5px;
   
   
    
}

.sidebarOption .material-symbols-outlined,
.sidebarOption .fa-twitter {
    padding: 25px;
    color: white;
    
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 25px;
    color: white;
    margin-left: 5%;
    width: 200px;
    white-space: nowrap;

}

.sidebarOption a {
    text-decoration: none;
}

.sidebarOption:hover {
    background-color: #0d141c;
    color: #1da1f2;
}

.sidebarOption.active {
    color: #1da1f2;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    .sidebarOption h2 {
        font-size: 16px;
    }
}

.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    margin-right: 40px;
    user-select: none;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
}

.feed_header h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar {
    display: none;
}

.tweetBox form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    opacity: 75%;
}

.tweetbox__input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #1a1a1a;
    
    margin-bottom: 10px;
    
}

.tweetbox__input img {
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
}

.tweetbox__input input {
    flex: 1;
    height: 60px; /* Increased height for a larger input box */
    padding: 10px;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    color: white;
    width: 400px;
    font-size: 14px; /* Smaller font size for better visibility */
    border-bottom: 1px solid white;
}

.tweetBox__tweetButton {
    background-color: #17bf63;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-left: 10px;  
    cursor: pointer;
}

.tweetBox__tweetButton:hover {
    background-color: #138a4a;
}

.tweetBoxContainer {
    background-color: #1a1a1a;
    padding: 4px;
    border-radius: 15px;
    width: 700px;
}

.post__avatar img {
    border-radius: 50%;
    height: 40px;
    margin: auto;
}

.post {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-top: 2%;
    margin-left: 5%;
    width: 480px;
    height: 200px;
}

.post__body img {
    width: 100%;
    object-fit: contain;
    background-color: #2b2626;
    border-radius: 20px;
    margin-right: 40px;
    position: relative;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__headerText a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.material-symbols-outlined {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post_headerText {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post_headerText h3 a {
    text-decoration: none;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}



.profile {
    flex: 0.5;
    min-width: fit-content;
    margin-left: 10px;
    position: relative;
}

.profile__background img {
    background-color: var(--twitter-background);
    align-items: center;
    padding: 10px;
    border-top: none;
    border-radius: 0 0 20px 20px;
    position: absolute;
    height: 250px;
    width: 480px;
    left: 42.5%;
    top: 110px;
    transform: translate(-50%, -50%);
    margin-bottom: 100px;
    margin-right: 40px;
}

.profile__pic {
    width: 120px;
    height: 120px;
    position: absolute;
    background-repeat: no-repeat;
    top: 160px;
    left: 80px;
    border-radius: 50%;
    background-size: cover;
}

.profile__headerText {
    position: relative;
    top: 130px;
    left: -30px;
    text-decoration: none;
    width: 200px;
    user-select: none;
}

.profile__headerText h3 {
    font-weight: 600;
    font-size: 30px;
    color: rgb(255, 252, 252);
}

.profile__headerText a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 252, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile__headerSpecial {
    font-size: 13px;
    color: var(--twitter-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile__reels {
    padding: 0px;
    position: relative;
}

.reels_container {
    position: absolute;
    top: 20px;
}

/*Post Start*/

.postProfile {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 30%;
    margin-left: -50%;
    width: 500px;
    height: 400px;
}

header {
    background-color: #00aced;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2b2626;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.postProfile {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
    display: flex;
}


/* notification style Start */

.notifications {
    display: flex;
    justify-content: center;
    background-color:#1b1818;
    width: 100%;
    height: 100vh;
    margin-left: 20px;
    
    
}

.notification__container {
    background-color: #1b1818;
    width: 700px;       
    margin: 2rem;
    padding: 1rem 1rem;
    border-radius: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242a2d; /* Adjust the color as needed */
    color: #fff;
    text-align: center;
    padding: 1em;
}

.notification__Header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color:#777;

}


.notification__Header {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#num-of-notif {
    background-color: rgb(15, 226, 110);
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    margin-left: 10px;
}

#mark-as-read {
    color: gray;
    cursor: pointer;
    transition: 0.6 ease;
}
  
#mark-as-read:hover {
    color:black;
}

main {
    display: flex;
    flex-direction: column;
    background-color:#212020;
    margin: auto;
    padding: 10px;
    border-radius: 5px;

}

/* Logout button styles */
.logout-button {
    margin-right: 20px; /* Adjust the margin as needed */
}

.logout-button button {
    background-color: #fff; /* Adjust the color as needed */
    color: #00aced; /* Adjust the color as needed */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button button:hover {
    background-color: #de6969; /* Adjust the hover color as needed */
    color: #de6969;
}


/*design thingies start*/
.bigLineL {
    padding-left: 20px;
    padding-right: 40px;
    border-left: 1px solid rgb(45, 45, 45);

}

.bigLineR {
    padding-left: 80px;
    padding-right: 80px;
    border-right: 1px solid rgb(45, 45, 45);

}
  

  /*design thingies end*/

/* css for buttons start */
.btns{
    position: absolute;
    display: flex;

}

.btn{
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 20px;
    outline: none;
    color: grey;
}

.btn i:hover{
    cursor: pointer;
}

.liked {
    color: red; /* Change to the desired color */
}

/*logoutbutton start*/

.logoutButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms ease-out, color 200ms ease-out;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-right: 5px;
    width: 240px;
}

.logoutButton i {
    padding: 25px;
    color: white;
}

.logoutButton h2 {
    font-weight: 800;
    font-size: 25px;
    color: white;
    margin-left: 5%;
    width: 240px;
}

.logoutButton:hover {
    background-color: #0d141c;
    color: #1da1f2;
}

.logoutButton.active {
    color: #1da1f2;
}
/*logoutbutton end*/

/* css for buttons end */


/*responsive design*/

    @media only screen and (max-width: 500px) {
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            max-width: 1300px;
            margin: auto;
            padding: 0 10px;
        }

        .sidebar {
        
            padding-left: -15px;
            padding-right: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            user-select: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            
            transition: width 1s ease;
        }

        .feed {
            flex: 1;
            border-right: 1px solid var(--twitter-background);
            min-width: fit-content;
            overflow-y: scroll;
            margin-right: 40px;
            user-select: none;
            transition: margin-right 1s ease;
        }

        .profile {  
            min-width: fit-content;
            margin-left: 10px;
            position: relative;
            transition: margin-left 1s ease;
        }

        /* Align sidebar and other contents in a row */
        .content-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .sidebar, .feed, .profile {
            width: 100%;
        }

        /* Hide the footer */
        footer {
            display: none;
        }

        .tweetBoxContainer {
            width: 400px;
            margin-left: 30px;
        }
        .tweetBox {
            width: 400px;
            margin-left: 20px;
        }

        .bigLineL {
            padding-left: 10px;
            padding-right: 10px;
        }

        .bigLineR {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media only screen and (max-width: 960px){
        .tweetBoxContainer {
            width: 400px;
            margin-left: 30px;
        }
        .tweetBox {
            width: 300px;
            margin-left: 20px;
        }
        .tweetBox__tweetButton {
            width: 60px;
            margin-left: -30px;
        }
        .tweet
        .bigLineL {
            padding-left: 15px;
            padding-right: 15px;
        }
        .tweetbox__input {
            width: 150px;
            margin-right: -20px;
        }

        .bigLineR {
            padding-left: 15px;
            padding-right: 15px;
        }
    }