*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{ /* this section basically just dictates the colors to be 
    used for everything that has var()*/
    --twitter-color: #50b7f5;
    --twitter-background: #181c24;
    --twitter-backgroundTweet: #202c3c;
}

    .sidebar {
        border-right: 1px solid var(--twitter-background);
        flex: 0.2;
        min-width: 250px;
        margin-top: 20%;
        padding-left: 20px;
        padding-right: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

/*sidebar design start*/
.sidebarOption{
    display:flex;
    align-items: center;
    cursor: pointer;
    background-color: #202c3c;
    border-radius: 30px;
}

.sidebarOption .material-symbols-outlined, 
.fa-twitter {
    padding: 20px;
    color:white;
    transition: color 200ms ease-out;
}

.sidebarOption h2 {
    font-weight: 800px;
    font-size: 20px;
    margin-right: 20px;
    color:black;
    text-decoration: none;

}

.sidebarOption h2 a {
    text-decoration: none;
}

.sidebarOption:hover {
    background-color: lighten(var(--twitter-backgroundTweet, 10%));
    color: var(--twitter-color);

}

.sidebarOption.active {
    color: var(--twitter-color);
}



body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    background-color: var(--twitter-background)
}

.sidebar{
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sidebar footer {
    color: white;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;border: none; /* Remove default border */
    border-top: 1px solid #ffffff; /* Specify the border style for the horizontal line */
    margin: 20px 0;
    
}

/*sidebar design end*/

.fa-twitter {
    color: var( --twitter-color);
    font-size: 30px;
}




/* feed */
.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;

}

.feed__header {
    position: sticky;
    top: 0;
    background-color: var(--);
    z-index: 100;
    padding: 15px 20px;

}
.feed_header h2{
    font-size: 20px;
    font-weight: 800;
    
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed { /*middle part*/
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-right: 40px;
    

}

/* tweet box */

.tweetbox__input img {
    border-radius: 50%;
    height: 40px;
    
    
}

.tweetBox{
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: var(--twitter-backgroundTweet);
    padding-right: 10px;    

}

.tweetBox form {
    display: flex;
    flex-direction: column;
    background-color: var(--twitter-backgroundTweet);

}

.tweetbox__input {
    display: flex;
    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--twitter-backgroundTweet);
    color: white;
    border-bottom: 1px solid;
    margin-left: 20px;
    

}

.tweetbox__input input {
    margin-top: 10px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: var(--twitter-backgroundTweet);
    
    

}


.tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 30px;
    width: 60px;
    height: 20px;
    margin-top: 10px;
    margin-left: auto;
    z-index: 3;
}

.tweetBoxContainer {
    background-color: var(--twitter-backgroundTweet);
    padding: 4px;
    border-radius: 15px;
    
}

/* post main */
.post__avatar img{
    border-radius: 50%;
    height: 40px;
    margin: auto;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 10%;
    margin-left: 7%;
      
    width: 500px;
    height: 400px;   


}


.post__body img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin-right: 40px;
    position: relative;
    
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__headerText a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.material-symbols-outlined {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.material-symbols-outlined {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
    
    
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.post_headerText {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.post_headerText h3 a {
    text-decoration: none;

}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}


/* widget styling */
.widgets {
    margin-top: 10px;
    padding: 10px;
    flex: 0.3;
    margin-left: 50px;
    background-color: var(--twitter-backgroundTweet);
    border-radius: 20px;
    margin-bottom: 700px;
}





/*---------------For Profile---------------*/

.profile{
    flex: 0.5;
    min-width: fit-content;
    margin-left: 10px;
    position: relative;
    
}

.profile__header{
    position: relative;

}


.profile__background img{  
    background-color: var(--twitter-background);
    align-items: center;
    padding: 10px;

    border-top: none;
    border-radius: 0 0 20px 20px;
 
    position: absolute;
    
    height:250px;
    width: 500px;

    left: 42.5%;
    top: 110px;

    transform: translate(-50%, -50%);
    margin-bottom: 100px;
    margin-right: 40px;
}

.profile__pic {
    width: 120px; 
    height: 120px;
    position: absolute;
    background-repeat: no-repeat;
    top: 160px;
    left: 80px;
    border-radius: 50%;
    background-size: cover;
}

/*Profile Header Text start*/
.profile__headerText {
    position: relative;
    top: 130px;
    left: -30px;
    text-decoration: none;
    width: 200px;
    user-select: none;



}

.profile__headerText h3 {
    font-weight: 600;
    font-size: 30px;
    color: rgb(255, 252, 252);
  
}

.profile__headerText a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 252, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.profile__headerSpecial {
    
    font-size: 13px;
    color: var(--twitter-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

/*Profile Header Text end*/



/*Profile Reels Start*/

.profile__reels {
    padding: 0px;
    position: relative;
    
}

.reels_container {
    position: absolute;
    top: 20px;
}

/*Profile Reels End*/




/*Post Start*/


.post__avatar img{
    border-radius: 50%;
    height: 40px;
    margin: auto;
    
}

.postProfile {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 30%;
    margin-left: -50%;
      
    width: 500px;
    height: 400px;   


}


.post__body img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin-right: 80px;
    position: relative;
    
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__headerText a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.material-symbols-outlined {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.material-symbols-outlined {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
    
    
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.post_headerText {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.post_headerText h3 a {
    text-decoration: none;

}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}



/*Post End*/